body{
    background: linear-gradient(45deg, rgb(81, 155, 252), #fafac4);
}
.container {
    width: 100vw;
    height: 50vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 35px;
    padding: 20px;
}

h1{
    font-size: 50px;
    color: black;
    text-shadow: 2px 2px 4px black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.carousel-item img {
    width: 50vw;
    height: 50vh;
    display: block;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

.card {
    width: 30rem;
    border-radius: 10px;
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-10px);
}